header{
    background-color: $color-principal;
    h1{
        color: $color-secundario;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font: size 50px;
        font-weight: 900;

    }
    nav{
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            li{
                a{
                    text-decoration: none;
                    color: rgb(216, 144, 49);
                    &:hover{
                        background-color: grey;
                        color: coral;
                    }
                    }  
                    }
                }
            }
        }
    

